<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function() {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Sentimen Terhadap {{q}}"
	},
	data: [{
		type: "pie",
		startAngle: 240,
		yValueFormatString: "##0.00\"%\"",
		indexLabel: "{label} {y}",
		dataPoints: [
		    {y: {{pos}}, label: "Positif"},
            {y: {{neg}}, label: "Negatif"},
            {y: {{n}}, label: "Netral"},
		]
	}]
});
chart.render();

}
</script>
</head>

<body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<a href src="/session?sesi={{sesi}}">link</a>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
</body>
</html>